.link{
    text-decoration: none;
}
.list{
    list-style: none;
}
:root {
    --primary-text-color: #434455;
    --title-color: #2E2F42;
    --pimary-bg-color-button: #4D5AE5;
    --text-btn-color: #FFFFFF;
    --paragraf-footer: #F4F4FD;
    --logi-color-footer: #F4F4FD;
}
h1,
h2,
h3,
h4,
p{
    margin-top: 0;
    margin-bottom: 0;
}
ul,
ol{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
img{
    display: block;
}
button{
    cursor: pointer;
}
.container {
    width: 1170px;
    margin-left: 15px;
    margin-right: 15px;
}
.page-header{
    padding-top: 24px;
    padding-bottom: 24px;
}
.page-header-container{
    display: flex;
    align-items: center;
}
.page-nav{
    display: flex;
    align-items: center;
}

.body{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color:var(--primary-text-color); 
    background-color: #FFFFFF;
}
.logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;  
    color:#4D5AE5;
    margin-right: 156px;
}
.logi-color-header{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--title-color);
}
.address{
    font-style: normal;
}     
/*=================Component=========*/
.modal-button:hover,
.modal-button:focus{
   background-color:var(--pimary-bg-color-button);
   color:var(--text-btn-color);
}
.modal-button {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color:var(--pimary-bg-color-button);
    color:var(--text-btn-color);
}
/*=================/Component=========*/
/*=================Header=========*/
.menu{
    display: flex;
    align-items: center;
}
.menu-item:not(:last-child){
    margin-right: 40px;
}
.menu-link{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:var(--title-color);
}
.menu-link:hover,
.menu-link:focus{
    color:#404BBF;
}
.menu-link-address{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:var(--primary-text-color);
    margin-left: auto;
    margin-right: 40px;
    
}
.menu-link-address:hover,
.menu-link-address:focus{
    color:#404BBF;    
}
.phone{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:var(--primary-text-color);
    margin-right: 156px;
}
.phone:hover,
.phone:focus
{
    color:#404BBF;
}
/*=================/Header=========*/
/*=================Hero=============*/
.section{
    padding-top: 120px;
    padding-bottom: 120px;
}
.section-first{
    background-color: #2E2F42;
    padding-top: 188px;
    padding-bottom: 292px;
    text-align: center;
}
.main-title{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height:1.07;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 48px;
}
.button-about{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color:#FFFFFF;
    background-color:#4D5AE5;
    cursor: pointer;
    border-radius: 4px;
    min-width: 160px;
    margin-top: 48px;
    padding-top: 16px;
    padding-right: 32px;
    padding-bottom: 16px;
    padding-left: 32px;
}
.button-about:hover, 
.button-about:focus{
    background: #404BBF;
    color: #FFFFFF;
}   
.button{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--pimary-bg-color-button);
    background-color: var(--logi-color-footer);
    cursor: pointer;

}
.button:hover, 
.button:focus{
    background: #404BBF;
    color: #FFFFFF;
}
.button-portfolio{
    display: flex;
    gap: 24px;
    margin-bottom: 72px;
    justify-content: center;
}
.description{
    display: flex;
    gap: 24px;
}
.header-second{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-color);
    
}
.employees{
    display: flex;
    flex-wrap: wrap; 
    gap: 24px;
    margin-bottom: 120px;   
}
.photo{
    flex-basis: calc((100%-48px)/3);
}
.title{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;    
    color: var(--title-color);
    padding-top: 8px;
}
.paragraf{
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

.section-fourth{
    background-color: #F4F4FD;    
}
.employees-card{
    flex-basis: calc((100%-72px)/4);
}
.employees-card-content{
    text-align: center;
    padding-top: 32px;
    padding-bottom: 32px;
    
}
.punkt{
    background-color: #FFFFFF;
}
.card-content{
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
    border: 1px solid #E7E9FC;
    border-top: none;
}
/*=================/Hero=============*/
/*=================Footer===========*/
.logo-color-list{
    background-color:var(--title-color); 
    padding-top: 100px;  
    padding-bottom: 100px; 
    padding-left: 156px;
    padding-right: 1020px;
}
.logi-color-footer{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #F4F4FD;
}
.paragraf-footer{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    padding-top: 16px;
    
}
.footer{
    width: 264px;

}
/*=================/Footer===========*/