.link{
    text-decoration: none;
}
.list{
    list-style: none;
}
:root {
    --primary-text-color: #434455;
    --title-color: #2E2F42;
    --pimary-bg-color-button: #4D5AE5;
    --text-btn-color: #FFFFFF;
    --paragraf-footer: #F4F4FD;
    --logi-color-footer: #F4F4FD;
}
.body{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #434455; 
    background-color: #FFFFFF;
}
.logo{
        font-family: 'Raleway' sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        display: flex;
        letter-spacing: 0.03em;
        text-transform: uppercase;  
        color: #4D5AE5;
}
.logi-color-header{
    color: var(--title-color);
}
.address{
    font-style: normal;
}
      
/*=================Component=========*/

.modal-button:hover,
.modal-button:focus{
   background-color:var(--pimary-bg-color-button);
   color:var(--text-btn-color);
   /*text-align*/
}
.modal-button {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    letter-spacing: 0.04em;
    background-color:var(--pimary-bg-color-button);
    color:var(--text-btn-color);
}
/*=================/Component=========*/
/*=================Header=========*/
.menu-link{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.menu-link:hover,
.menu-link:focus{
    color:#404BBF;
}
/*=================/Header=========*/
/*=================Hero=============*/
.section-first{
    background-color: #2E2F42;
}
.main-title{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.7;
    /*text-align: center;*/
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.button-about{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    /*display: flex;
    text-align: center;*/
    letter-spacing: 0.04em;
    color:var(--pimary-bg-color-button);
    background-color: #F4F4FD;
    cursor: pointer;
}
.button-about:hover, 
.button-about:focus{
    background: #404BBF;
    color: #FFFFFF;
    /*border: 1px solid #E7E9FC;*/
}   
.hh2{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    /*text-align: center;*/
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-color);
}
.title{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;    
    color: var(--title-color);
}
.paragraf{
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}
.title-center{
    font-family: 'Roboto'sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    /*text-align: center;*/
    letter-spacing: 0.02em;
    color: var(--title-color); 
}
.paragraf-center {
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    /*text-align: center;*/
    letter-spacing: 0.02em;
/* SLATE */
color: var(--primary-text-color);
}
.section-fourth{
    background-color: #F4F4FD;
}
.punkt{
    background-color: #FFFFFF;
}

/*=================/Hero=============*/



/*=================Footer===========*/
.logo-color-list{
    background-color:var(--title-color);    
}
.logi-color-footer{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
/*  display: flex;
    align-items: center;*/
    letter-spacing: 0.03em;
    color: #F4F4FD;
}
.paragraf-footer{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}
/*=================/Footer===========*/