:root {
    --primary-text-color: #434455;
    --title-color: #2E2F42;
    --pimary-bg-color-button: #4D5AE5;
    --text-btn-color: #FFFFFF;
    
    
.list {
    list-style: none;
}
.list{
    list-style: none;
}
.link {
    text-decoration: none;
}
.body{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1,5;
    color: #434455; 
    background-color: #FFFFFF;
}
/*=================Component=========*/
.logo{
    font-family: 'Raleway' sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1,17;
    display: flex;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-color);

    color: #4D5AE5;
}
.logi-color{
    color:#2E2F42;
}
.modal-button:hover,
.modal-button:focus{
   background-color:var(--pimary-bg-color-button);
   color:var(--text-btn-color);
   text-align: center;
}
.modal-button {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1,5;
    display: flex;
    letter-spacing: 0.04em;
    background-color:var(--pimary-bg-color-button);
    color:var(--text-btn-color);
}
.button-about:hover,
.button-about:focus{
    background: #404BBF;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1,5;
    display: flex;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}
.button-about{
    background: #F4F4FD;
    border: 1px solid #E7E9FC;
}
    
  
/*=================/Component=========*/
/*=================Header=========*/
.menu-link{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1,5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.menu-link:hover,
.menu-link:focus{
    color:#4D5AE5;
}
.telephone {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1,5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.telephone:hover,
.telephone:focus {
    color:#4D5AE5;
}
/*=================/Header=========*/
/*=================Hero=============*/
.main-title{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 56px;
    text-align: center;
    letter-spacing: 0.02em;
    /*color: #FFFFFF;*/
}
.h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1,11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(title-color);
}
.title{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1,2;   
    text-align: center;
    letter-spacing: 0.02em;    
    color: var(--title-color);
}
.paragraf{
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1,5;
    letter-spacing: 0.02em;

/* SLATE */

color: var(--primary-text-color);
}
.paragraf-center {
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1,5;
    text-align: center;
    letter-spacing: 0.02em;
/* SLATE */
color: var(--primary-text-color);
}
.paragraf-left-name{
    font-family: 'Roboto'sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1,2;
    letter-spacing: 0.02em;
    color: var(title-color); 
}
.paragraf-left{
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1,5;
    text-align: left;
    letter-spacing: 0.02em;
/* SLATE */
color: var(--primary-text-color);
}
/*=================/Hero=============*/
